DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
PORT=3000

# LOGHELPER
LOG_FILE_PATH          = ./logs/
LOG_FILE_NAME          = archivo.log
LOG_TO_FILE_ENABLED    = true
LOG_TO_CONSOLE_ENABLED = true
